<html>
    <head>
        <title>Desmatamento e Queimadas</title>
    </head>

    <div>
        <h1><strong>Desmatamento e Queimadas</strong></h1>
    </div>

    <div>
        <h2><em>Proteja as florestas</em></h2>
        <p>Feito pelas dicentes Mayara e Jaqueline: 24/03/2023 </p>
    </div>

    <div>
        <p>Desmatamento é atualmente um dos maiores desafios da humanidade. Crescente em muitas regiões do planeta,<br> a retirada da cobertura vegetal tem preocupado o mundo todo.</p>
    </div>

    <div>
        <p>Queimadas são eventos naturais ou antrópicos que podem causar sérios danos nas áreas em que ocorrem,<br> podendo causar graves prejuízos econômicos, sociais e ambientais</p>
    </div>

    <ul><li>"exploração dos recursos naturais"</li><li>"explorar matéria-prima"</li>
        <a href="https://brasilescola.uol.com.br/geografia/queimadas.htm#Tipos+de+queimadas+e+suas+causas">Sobre queimadas</a>
</html>