{% load static %}
<html>
    <head>
        <title>Desmatamento e Queimadas</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <h1><a href="/">Desmatamento e Queimadas</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>

<p>Desmatamento é atualmente um dos maiores desafios da humanidade. Crescente em muitas regiões do planeta,<br> a retirada da cobertura vegetal tem preocupado o mundo todo.</p>

<p>Queimadas são eventos naturais ou antrópicos que podem causar sérios danos nas áreas em que ocorrem,<br> podendo causar graves prejuízos econômicos, sociais e ambientais</p>